/*CS A-Claess; TBR*/
:root {
  --G: black;--g: rosybrown;
  --c: bisque;--C: var(--c);
  --l: 1.34em;--L: 1em;
  --w: calc(~"100vw  - 2rem");--W: calc(~"100vw - 4px");
  --Y: 50%;--X: 50%;
  --f: 'Mada Variable', sans-serif;--F: 'Fraunces Variable', cursive;
  --z: 16px;
}
*,*::before,*::after {
  position: relative;
  box-sizing: border-box;margin: 0;padding: 0;
  direction: inherit;flex-flow: column nowrap;
  align-items: center;justify-content: center;align-content: center;
  color: inherit;
  text-align: inherit;
  font-weight: inherit;
  background-color: transparent;
  background-origin: var(--Y) var(--X);
  background-repeat:inherit;
  background-size: contain;
  background-position: center;
  text-transform: inherit;
  text-decoration-style: normal;
  text-decoration-line: none;text-decoration-color: inherit;
  background-attachment: local;
  text-decoration-thickness: 2px;
  border-color: currentColor;border-width: 2px;border-style: hidden;
  border-color: var(--c);
  outline-color: currentColor;outline-width: 2px;outline-offset: inherit;outline-style: none;
  transition: inherit;
  font-style: inherit;
}
* {
  pointer-events: inherit;
}
html {
  background-color: var(--g);color: var(--G);
  scroll-behavior: smooth;
}
body {
  font-stretch: normal;
  font-family: monospace;
  transition-property: all;
  transition-duration: 0;
  text-decoration-color: currentColor;
  background-color: var(--G);color: var(--g);
}

p,li {
  cite {&::before {content: "["}&::after {content: "]"}}
}
p,li,article {cite a {&::before {content: "://"}}}
ul li::before {content: "—";margin-inline-end: .38em;}
ul.x li {text-align: center;}
ul.x li::before {content: none;}
/*q {quotes: "“" "”" "‘" "’";}
q::before {content: open-quote;}
q::after {content: close-quote;}*/
/*body.T main>q::before {content: "—";display: block;}body.T main>q::after {content: "—";display: block;}
body.T blockquote::before {content: "——";}body.T blockquote::after {content: "——";}*/

/*PNT*/
body,*::before,*::after,svg * {
  pointer-events: none;}
a,p,i,b,s,u,q,li,em,li,tr,td,dt,dd,h1,h2,h3,h4,h5,h6,pre,img,del,ins,svg,span,abbr,div,address,label,meter,button,strong,header,summary,figcaption,blockquote,cite {
  pointer-events: all;}
article {
  cursor: crosshair;}
a,summary {
  cursor: pointer;}

body,blockquote i,q i {font-style: normal;}
a {text-decoration-style: solid;text-decoration-line: underline;}
article a {text-decoration-line: none;}
a:hover {text-decoration-style: double;}
nav a, article a {text-decoration-style: none;}
p a {text-decoration-style: none;}
nav a.a {text-decoration-line: underline;}
footer a {text-decoration-line: none;}
footer a:hover {text-decoration-line: underline;}
article {border-style: solid;}
a:hover,cite a,blockquote a,article a h3 {text-decoration-style: underline;}

body.t {
  q cite,&>p,aside,header,&>footer,address,main,li,pre,h1,h2,h3,h4,h6,blockquote cite,article cite,b {
    font-family: var(--f);}
  b,h3 {font-weight: 600;}
  dfn {font-weight: 700;}
  main a,b,h1,h2 {font-weight: 500;}
  strong,em {font-weight: 600;}
  h4 {font-weight: 700;}
  h5 {font-weight: 800;}
  h6 {font-weight: 900;}
  a em {font-weight: 900;}

  i,q {font-style: italic;}

  s {text-decoration-style: line-through;}

  ul li {list-style: none;}

  q {quotes: none;}
}
body.T {
  article>:first-child,blockquote,q,main header h1,main h2,h5 {
    font-family: var(--F);}
  strong {font-weight: 900;}
  i {letter-spacing: -.04em;}
  b {letter-spacing: -.02em;}
  blockquote p {letter-spacing: -.03em;}
  header h1 {letter-spacing: -.04em;}
  main>h1+p::first-letter,main header+p::first-letter {font-size: 5.4em;float: left;font-weight: 900;margin-inline: -.05em .05em;font-style: normal;}
  main img {float: left;}
}

*,*::before,*::after {font-size: inherit;}
body.z {
  font-size: var(--z);
  small {font-size: calc(0.625*var(--z));}
  cite,article {font-size: calc(0.75*var(--z));}
  aside,article>h3 {font-size: calc(0.8125*var(--z));}
  //details {font-size: calc(0.875*var(--z));}
  blockquote {font-size: calc(0.9375*var(--z));}
  h3,h4,h5,h6 {font-size: calc(1.125*var(--z));}
  h1,h2 {font-size: calc(1.315*var(--z));}
  //h1 {font-size: calc(1.6875*var(--z));}
  //h1 {font-size: calc(2.125*var(--z));}
  main h1 {font-size: calc(2.375*var(--z));}
  //h0 {font-size: calc(3.4375*var(--z));}
                                  //main>h1 {font-size: 5.5em;}
                                     h1 i {font-size: 1.1em;}
                                    main>h3 {font-size: 1.4em;}
                     nav a,main>q,a>em,h4,h3 {font-size: 1.2em;}
  body>nav,h1 b {font-size:  .8em;}
}
body.Z {
  @media (min-width: 34em) {main h1 {font-size: 2.7em;}main h2 {font-size: 1.8em;}}
  @media (min-width: 55em) {main>header {font-size: 1.1em;}}
  @media (min-width: 89em) {main>header {font-size: 1.2em;}body {font-size: 18px;}main h1 {font-size: 3.1em;}}
  @media (min-width: 144em) {main>header {font-size: 1.3em;}body {font-size: 19px;}}
}
                                   
//header>:first-child         i {font-size: 1.5em;}
//header>:first-child       i+i {font-size: 1.2em;}
//header>:first-child     i+i+i {font-size: .9em;}
//header>:first-child   i+i+i+i {font-size: .6em;}
//header>:first-child i+i+i+i+i {font-size: .5em;}
@media (min-width: 21em) {body {font-size: 17px;}}


body>* {direction: ltr;}

body {text-align: center;}
q,h1 {text-align: center;}
main {text-align: start;}
li,main>p,article p {text-align: left;}
blockquote cite {text-align: right;}
article h3 {text-align: left;}

body {
  span,code {white-space: nowrap;word-wrap: normal;}
  strong {white-space: nowrap;}
  h3 q {white-space: nowrap;}
  span i {white-space: normal;word-wrap: break-word;}
  address {white-space: nowrap;word-wrap: keep-all;word-break: keep-all;overflow-y: hidden;overflow-x: auto;}
}

main header::before {background-size: cover;}

/*ABSOLUTES*/
span svg {position: absolute; top: 0;left: 0;right: 0;bottom: 0;}
body::before,body::after,main::before,main::after,header::before,header::after,footer::before,footer::after,section::before,section::after,figure::before,figure::after {position: absolute;bottom: 0;left: 0;right: 0;top: 0;}

/*INLINES*/
footer>q:first-child {flex-grow: 1;}

mark {display: inline;}
//ul li {display: inline-block;}
a,code {display: inline-block;}
address,img {display: inline-block;}
a em {display: inline-block;}

/*overflow: clip;*/
q,figure {overflow-y: hidden;overflow-x: auto;max-width: 100vw;}
img {max-width: 48vw;}
h1,h2,h3,h4,h5,h6,section>header,section,hr {flex-basis: 100%;}
figure,main>div {max-width: var(--w);}
.rw3>* {max-width: ~"calc(30vw)";}
main div>p {max-inline-size: 16rem;}
li {width: fit-content;}

body.h {
  main>h1,main>h2,main>h3,main>h4,main>h5,main>h6,main>address,main q,header>svg,header img,p,li {
    max-inline-size: ~"min(38rem,var(--w))";}
  section {&>h1,&>h2,&>h3,&>h4,&>h5,&>h6 {max-inline-size: ~"min(38rem,var(--w))";inline-size: 100%;}}
}

section h2 {width: auto;}
main header div>p {inline-size: auto;}

header h1 {max-inline-size: ~"min(89rem,var(--w))";}
details {max-inline-size: var(--w);}
main>address,blockquote {max-inline-size: ~"min(55rem,var(--w))";}
ol.x {
  max-inline-size: var(--w);}
em {width: max-content;}
span>span {max-inline-size: fit-content;}
article,span {inline-size: min-content;}
main header h1 i {display: inline-block;inline-size: min-content;}
ol.x li,ul.x li,ol.X li,ul.X li {width: min-content;}
nav>h3 {width: min-content;}
section aside p {max-inline-size: none;}
main>address,main>h2,main>h3,main>h4,main>h5,main>h6 {
  inline-size: 38rem;}
main>ul {max-inline-size: ~"min(38rem,var(--w))";inline-size: 38rem;}
/*aside {max-inline-size: 100vw;}*/
header>svg {max-block-size: 16rem;}
img {max-height: 38vh;}
p img {max-height: 13em;margin: 0 1em;}
header p img {max-height: none;}
article {max-height: min-content;}
h1 q,h2 q,h3 q,h4 q,h5 q,h6 q,footer p {
  margin-inline: 0;
  max-inline-size: none;
}


body.w {
  cite {}
  p i {margin-inline: .1em;}
  details {
    margin-inline: 1rem;
    padding-inline: 1rem;
    &>p {margin-inline: auto;}
    aside,summary {margin-inline: -1rem;}
  }
  section,blockquote,samp,h1,h2,h3,h4,h5,h6,figure,address,p,article {margin-inline: .7em;}
  article cite {padding-inline: 1rem;}
  cite a {white-space: nowrap;}
}
li {margin-inline: .62em;}
header>svg,header img {margin-inline: auto;}
q i,li i {margin-inline: .2em;}
ol {margin-inline-start: 1em;}
ol.x {margin-inline: 1em;}
a {margin-inline: 1px;}
nav a {margin-inline: 0;}
p q {margin-inline: .1em;}
summary {padding-inline: .3rem;}
a {padding-inline: 1px;}
address,p b {padding-inline: .1em;}
main>img {float: left;margin-right: .6em;}

body.b {
  //main {margin-inline: 2px;}
  main blockquote {border-left: solid;}
}

article h3 {align-self: flex-start;}
main section {align-self: center;}
header h1 {overflow: hidden;}
main>h1,main>h2,main>h3,main>h4,main>h5,main>h6 {overflow-x: auto;overflow-y: hidden;align-items: flex-start;justify-content: flex-start;}
main,header {flex-grow: 1;}
footer>div:first-child {flex-grow: 1;justify-content: flex-start;}
body>footer:first-child,div:empty {flex-grow: 1;}
ul {align-items: start;}
footer {align-self: center;}

figure,main>div.x {
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow-x: auto;overflow-y: hidden;
  max-width: 100vw;
}

h1,h2,h3,h4,h5,h6 {break-before: always;break-after: always;}
hgroup,p {break-before: always;break-after: always;}
h1 {page-break-before: always;}

/*main>header q {order: -1;}*/
a>cite {order: -1;}
article>cite {order: -1;}

body.c {
  blockquote,aside {color: var(--c);}
  main {blockquote,aside {color: var(--c);}}
  cite,a,summary {color: var(--C);}
  header {color: var(--G);}
  article cite {color: var(--g);}
  main a {outline-color: var(--C);}
  a:active,a:hover {color: var(--C);}
  blockquote mark {color: var(--c);}
  q {color: var(--c);}
  //main>q cite,main>blockquote cite {color: var(--G);}
  //cite {color: var(--C);}
  main>ol {color: var(--C);}
}
body.C {
  //b,i {color: var(--c);}
  h1 i,q cite i,q cite b,blockquote cite i,blockquote cite b {color: inherit;}
  header i,header b {color: var(--g);}
  a i {color: inherit;}
  section {color: var(--c);}
  main header strong {color: var(--g);}
  main>header>:first-child {color: var(--G);}
}
body.g {background-color: var(--g);color: var(--G);
  &>pre {background-color: var(--G);}
  hgroup {background-color: var(--g);}
  main>h1 {color: var(--c);a {background-color: var(--C);color: var(--g);}}
  &>q {background: var(--G);color: var(--g);}
  //main>h2 {color: var(--c);}
  mark {background-color: var(--g);color: var(--G);i,b {color: inherit;}}
  main {color: var(--g);background-color: var(--G);
    b {color: var(--c);}
    a,summary {color: var(--C);}
        figure {background-color: var(--c);}}
  section {
    background-color: var(--g);color: var(--G);
    border-color: var(--c);outline-color: var(--g);
    b {color: var(--c);}
    aside {color: var(--G);background-color: var(--c);}
    a {color: var(--G);background: var(--C);}
  }
  article {
    background-color: var(--c);color: var(--G);
    &::after {background-image: var(--fg);}
    cite {background-color: var(--G);color: var(--g);}
  }
  cite a {background-color: var(--G);color: var(--C);}
  
  nav {color: var(--g);a,summary {color: var(--c);}}
  footer {background-color: var(--C);color: var(--G);a {color: var(--c);}}
  p a:hover {background-color: var(--g);color: var(--G);}
  mark a {background-color: var(--C);color: var(--c);}
  aside header {background-color: var(--c);color: var(--g);}
  header {background-color: var(--c);color: var(--G);
            b {color: var(--g);}
            q {color: var(--g);}
            mark {background-color: var(--C);color: var(--G);}
            aside {color: var(--G);cite {color: var(--g);}}
            details {border-color: var(--g);}
            details[open] summary {background: var(--g);}
            }
  details>summary {background: var(--G);color: var(--C);}
  details[open]>summary {background: var(--c);}
  details {
    border-color: var(--c);
    blockquote {color: var(--C);}
  }
  aside header {background: transparent;color: var(--c);}
  &>header {color: var(--c);background-color: var(--G);}
  main>p mark {background-color: var(--G);color: var(--g);}
  b {color: var(--c);}
}
body.G {
  main {background-image: radial-gradient(100% 100%,transparent 38%,var(--g) 162%);}
  &>header {color: var(--C);background-color: var(--g);background-image: linear-gradient(transparent,var(--G));}
}
body.d {
  &>header {background-image: linear-gradient(var(--g),transparent),linear-gradient(transparent,var(--g),transparent);}
  background-image: linear-gradient(to left,transparent,var(--g),transparent), 
                    radial-gradient(62% 62%,var(--g),transparent 162%),
                    radial-gradient(62% 62%,transparent 62%,var(--G) 162%),
                    radial-gradient(circle,transparent,var(--C) 162%);
  article {background-image: radial-gradient(farthest-corner circle,var(--G),transparent 162%), 
                             radial-gradient(62% 62%,var(--G),transparent);}
  address {background-color: var(--C);color: var(--g);}
  address a {color: var(--G);background-color: transparent;}
  &>header {color: var(--G);
            background-image: radial-gradient(162% 162% at bottom,transparent 38%,var(--c) 62%),
                              linear-gradient(transparent 38%,var(--C)),
                              radial-gradient(162% 162% at bottom,var(--c),transparent 162%);}
  &>footer {background-image: radial-gradient(138% 138% at top,var(--c),transparent),
                              radial-gradient(162% 162% at top,transparent -162%,var(--C),transparent 162%);}
  main>header {background-image: linear-gradient(var(--C),transparent 38%),
                                 linear-gradient(transparent 62%,var(--c)),
                                 radial-gradient(farthest-corner circle,var(--c) 62%,transparent 162%);}
  &>nav {background-image: radial-gradient(38% 100% at right top,transparent,var(--g) 16%,transparent);}
}

//body.b main section {border-width: 2px;outline-style: dashed;outline-offset: -2px;}

body>a,body>address {position: sticky;bottom: 0;}
body>nav:first-of-type {position: sticky;top: 0;}
body>header,summary {top: 0;position: sticky;}

blockquote,article,section,details,aside,nav,main,hgroup,header,footer,div,dl,main>div,body>a,footer ul {display: flex;}
h2,h3,h4,h5,h6 {display: flex;}
/*h1 pre,h2 pre,h3 pre,h4 pre,h5 pre,h6 pre {display: inline;}*/
ul.y {display: flex;}
ol.x,ul.x {display: flex;flex-flow: row wrap;align-items: center;}
.x {flex-flow: row wrap;}
ol.X,ul.X {flex-wrap: wrap;justify-content: flex-start;overflow-x: auto;overflow-y: hidden;}
figure,article {display: inline-flex;}
article>a {display: flex;}
h1,h2,h3,h4,h5,h6,summary,p,svg,blockquote cite {display: block;}
p a {display: inline;}
body {
  min-inline-size: fit-content;
  display: flex;
  vertical-align: auto;
  justify-content: flex-end;
}
img {vertical-align: baseline;}
footer {
  display: flex;
}
nav details,footer ul {flex-flow: row wrap;}
h1,h2,h3,h4,h5,h6,main>div {flex-flow: row wrap;}
div,details {flex-flow: row wrap;}
div.cl {flex-flow: column nowrap;}
article {flex-wrap: wrap;}

body>q,body>pre,main,body header,footer,body>a {align-self: stretch;}

body>header>*:first-child {align-items: start;}
body>a {align-items: flex-start;}
h2 {align-items: flex-start;}
div img {align-self: flex-end;}
cite {align-self: stretch;}
body>a,main>a {align-self: end;}

main::before,main::after {z-index: -1;}
q,li,p,code,pre,samp,footer,img,section,aside {z-index: 1;}
footer {z-index: 2;}
blockquote,h1,h2,h3,h4,h5,h6,p,summary {z-index: 3;}
header {z-index: 7;}
aside {z-index: 4;}
main {z-index: 5;}
figure {z-index: 7;}
figcaption {z-index: 8;}
a,aside {z-index: 10;}
address {z-index: 16;}
/**:hover {z-index: 16;}*/
figcaption {z-index: 17;}
nav {z-index: 18;}
summary {z-index: 19;}
footer {z-index: 20;}
details {z-index: 21;}

/*BLOCKS*/

body {min-height: 100vh;}
main>img {max-block-size: 16em;}
article img {max-block-size: 16em;}

* {line-height: inherit;}
p,q {line-height: var(--l);}
body {line-height: var(--l);}
nav {line-height: var(--L);}
h1,h2,h3,h4,h5,h6 {line-height: var(--L);}
h1,h2,h3,h4,h5,h6 {i {line-height: var(--L);}}

body.L {
  li,cite,article p {line-height: var(--L);}
}

body.m {
  main {*~h1,*~h2,*~h3,*~h4,*~h5,*~h6 {padding-block: .8em .1em;}}
  details,main>q,header>q {margin-block: 1em;}
  li {margin-block: 1em;}
  main>h1 {margin-block: .7em .2em;}
  h4 {margin-block-start: .3em;}
  h3 {margin-block-end: .1em;}
  h2 {margin-block-end: .1em;}
  h1+q {margin-block-start: 0;}
  p {margin-block: .4em;}
  li {margin-block: .8em;}
  address {margin-block: .3em;}
  ul li {margin-block: .7em;}
  main>aside {margin-block: .5em;}
  blockquote {margin-block: .6em;}
  article {margin-block: 1em;}
  body>nav {margin-block-end: -3em;}
  main>header {padding-block-start: var(--l);}
  header blockquote {margin-block-start: .6em;}
  * header h1:last-child {margin-block-end: 2rem;}
  main>p:last-child {margin-block-end: 1.4em;}
  summary {padding-block: .7rem;}
  article>cite,aside {padding-block: .2rem;}
  address a {padding-block: .3em;}
  nav,footer {padding-block: 1em;}
  nav>a {padding-block: 1em;}
  main section {padding-block: 1em;margin-block: 1em;}
  main>div {padding-block: 1em;}
  main *+h3 {padding-block-start: 1em;}
  main header h1 {padding-block-end: .3em;}
  article a {padding-block: .6em;}
  * header {padding-block-start: 3em;}
  section>q {padding-block: 1em;}
  p+details {}
}

body.M {
  //&>header+main {margin-top: -5em;}&>header+main>header {padding-top: 5em;}
}

/*RECTS*/
article,details[open] {border-style: solid;}
aside {border-style: dashed;}
details {border-radius: 4px;}
summary {display: block;}

div>i {margin: 1em;}
article {margin: .16em;}
body>header a {padding-block: .5em;}
aside header>:first-child:last-child {margin: 0;}
footer>span {margin: .5em;}
figure img {margin: 0;}
img {margin: 1px;}
body>address,body>a,main>a,main>div>a {
  padding: 1em;
  border-radius: 5px;
}

body.f {
  &::after {
    content: "";
    background-image: linear-gradient(to left,transparent,var(--G),transparent);
  }
}
body.F {
  &>p,&>ul,&>ol {text-shadow: 0 0 1em var(--g),0 0 1em var(--g),0 0 1em var(--g),0 0 1em var(--g);}
  h1>* {mix-blend-mode: color-burn;}main strong {mix-blend-mode: color-burn;}
  //pre {mix-blend-mode: normal;}
  &>div img {mix-blend-mode: exclusion;}
  &>header {mix-blend-mode: difference;}
  main>header {mix-blend-mode: normal,hard-light;}
}

/*div.x::after {
  background: radial-gradient(100% 50% at right,var(--G),transparent);
  content: '';
  width: 17em;
  height: 100%;
  position: sticky;
  right: -1em;
  display: block;
}*/

//header h1 {mix-blend-mode: screen;}

body.a figure>figcaption {padding: 1em;position: absolute;bottom: 0;left: 0;right: 0;background-image: linear-gradient(transparent,var(--c));color: var(--G);}


summary {padding-inline-start: 3rem;}
summary::before {content: "+";position: absolute;top: 0;left: 0;bottom: 0;font-size: 2em;width: 3rem;display: flex;text-align: center;}
details[open]>summary::before {content: "×";}



hr {height: 0;border: 2px dashed;background-color: var(--G);margin-block: 1em;}