.fix {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}

.tBg {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tSk {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}